

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 87%;
}

.logo-container {
    position: absolute;
    top: 0px; 
    left: 10px; 
}

.main-container {
    width: 80%;
    max-width: 1200px;
    text-align: center;
    position: absolute;
    top: 90px;
}

@media (max-width: 600px) {
    .main-container {
        padding: 10px;
    }
    .logo-container img {
        height: 100px;
    }
    .MuiTypography-h4 {
        font-size: 1.5rem;
    }
}

